<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guppy.phoneclean">

    <application
        android:name=".IClearApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuppyPhoneClean">
        <activity
            android:name=".activity.StartPageActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AppMangerActivity" />
        <activity android:name=".activity.CameraListActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.PrivacyPolicyActivity" />
        <activity android:name=".activity.BatteryActivity" />
        <activity android:name=".activity.JunkCleanActivity" />
        <activity android:name=".activity.CpuCoolDownActivity" />
        <activity android:name=".activity.CacheClearActivity" />
        <activity android:name=".activity.OverActivity" />
        <activity android:name=".activity.SpeedActivity" />
        <activity android:name=".activity.AllEndActivity" />
        <activity android:name=".MainActivity">

        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1111111111111111~1111111111" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <service
            android:name=".service.CleanerService"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="com.junk.nightphoneclean.services.CleanerService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.ITraceServiceImpl"
            android:exported="true">
            <intent-filter>
                <action android:name="com.accelerate.icleanner.services.ITraceServiceImpl" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

</manifest>